body {
    background-color: rgb(41, 39, 39);
}

.in {
    width: 500px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 30px;
}

.but {
    width: 100px;
    height: 50px;
    background-color: aqua;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
}

.but:hover {
    background-color: rgb(32, 100, 100);
}

.main {
    margin: 10px;
    margin-left: 5px;
}

.contents {
    background-color: grey;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    height: 350px;
    display: inline-block;
    text-align: center;
}

.ul {
    margin: 10px;
    padding: 0px;
}

.text {
    color: white;
}